In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("static/data/NYC_Restaurant_Inspection_Results_Clean2020.csv")
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,YEAR,ADDRESS
0,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,16614,HILLSIDE AVE,11432.0,7183744616,Bangladeshi,2/20/2020,Violations were cited in the following area(s).,...,40.709572,-73.796195,412.0,27.0,46000.0,4210082.0,4.098180e+09,QN61,2020,"16614,HILLSIDE AVE,11432"
1,50095392,HOPE TO SEE YOU,Queens,133-42,39 AVENUE,11354.0,7188881669,Chinese,1/2/2020,Violations were cited in the following area(s).,...,40.759099,-73.834139,407.0,20.0,87100.0,4596186.0,4.049738e+09,QN22,2020,"133-42,39 AVENUE,11354"
2,50033575,JACQUES TORRES ICE CREAM,Manhattan,89,EAST 42 STREET,10017.0,2129837353,"Ice Cream, Gelato, Yogurt, Ices",3/9/2020,Violations were cited in the following area(s).,...,40.752094,-73.977604,105.0,4.0,9200.0,1035381.0,1.012800e+09,MN19,2020,"89,EAST 42 STREET,10017"
3,50089342,REGAL CINEMAS ESSEX CROSSING,Manhattan,129,DELANCEY STREET,10002.0,2124755768,American,3/13/2020,Violations were cited in the following area(s).,...,40.718327,-73.987518,103.0,1.0,1800.0,1090554.0,1.003528e+09,MN27,2020,"129,DELANCEY STREET,10002"
4,50033875,ARIANA'S,Staten Island,60,SOUTH BRIDGE STREET,10309.0,7189678500,Italian,1/23/2020,Violations were cited in the following area(s).,...,40.525075,-74.236617,503.0,51.0,22600.0,5000000.0,5.075840e+09,SI11,2020,"60,SOUTH BRIDGE STREET,10309"

In [13]:
import sqlite3

In [14]:
conn = sqlite3.connect('NYC_Restaurant_Inspection_Results_Clean2020.sqlite')
df.to_sql('NYC_Restaurant_Inspection_Results_Clean2020', conn, if_exists='replace', index=True)

C:\Users\jcg\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [15]:
pd.read_sql('select * from NYC_Restaurant_Inspection_Results_Clean2020', conn)

,index,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,...,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,YEAR,ADDRESS
0,0,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,16614,HILLSIDE AVE,11432.0,7183744616,Bangladeshi,2/20/2020,...,40.709572,-73.796195,412.0,27.0,46000.0,4210082.0,4.098180e+09,QN61,2020,"16614,HILLSIDE AVE,11432"
1,1,50095392,HOPE TO SEE YOU,Queens,133-42,39 AVENUE,11354.0,7188881669,Chinese,1/2/2020,...,40.759099,-73.834139,407.0,20.0,87100.0,4596186.0,4.049738e+09,QN22,2020,"133-42,39 AVENUE,11354"
2,2,50033575,JACQUES TORRES ICE CREAM,Manhattan,89,EAST 42 STREET,10017.0,2129837353,"Ice Cream, Gelato, Yogurt, Ices",3/9/2020,...,40.752094,-73.977604,105.0,4.0,9200.0,1035381.0,1.012800e+09,MN19,2020,"89,EAST 42 STREET,10017"
3,3,50089342,REGAL CINEMAS ESSEX CROSSING,Manhattan,129,DELANCEY STREET,10002.0,2124755768,American,3/13/2020,...,40.718327,-73.987518,103.0,1.0,1800.0,1090554.0,1.003528e+09,MN27,2020,"129,DELANCEY STREET,10002"
4,4,50033875,ARIANA'S,Staten Island,60,SOUTH BRIDGE STREET,10309.0,7189678500,Italian,1/23/2020,...,40.525075,-74.236617,503.0,51.0,22600.0,5000000.0,5.075840e+09,SI11,2020,"60,SOUTH BRIDGE STREET,10309"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30638,30638,50086667,JJ'S ASIAN FUSION,Queens,37-05,31 AVENUE,11103.0,7186268888,Japanese,2/12/2020,...,40.762006,-73.918537,401.0,22.0,6300.0,4010552.0,4.006590e+09,QN70,2020,"37-05,31 AVENUE,11103"
30639,30639,41691396,SAM'S,Queens,89-06,NORTHERN BOULEVARD,11372.0,7183353800,Pizza,1/28/2020,...,40.756245,-73.878681,403.0,25.0,27700.0,4035403.0,4.014370e+09,QN28,2020,"89-06,NORTHERN BOULEVARD,11372"
30640,30640,50102250,XOXO KITCHEN & BAKERY,Queens,883,CYPRESS AVENUE,11385.0,5189307739,American,2/25/2020,...,40.699365,-73.904924,405.0,34.0,55300.0,4085863.0,4.035600e+09,QN20,2020,"883,CYPRESS AVENUE,11385"
30641,30641,41683337,AVLEE GREEK KITCHEN,Brooklyn,349,SMITH STREET,11231.0,7188555125,Greek,2/20/2020,...,40.680002,-73.995007,306.0,39.0,7700.0,3007558.0,3.004500e+09,BK33,2020,"349,SMITH STREET,11231"
30642,30642,50016747,SARKU JAPAN,Bronx,815,HUTCHINSON RIVER PARKWAY,10465.0,7182391460,Japanese,3/16/2020,...,40.823678,-73.836420,210.0,13.0,9000.0,2080263.0,2.055598e+09,BX09,2020,"815,HUTCHINSON RIVER PARKWAY,10465"