In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("DOHMH_New_York_City_Restaurant_Inspection_Results_Clean2.csv")
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,INSPECTION TYPE GENERAL,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,41651801,THE LIBERTY,Manhattan,29,WEST 35 STREET,10001.0,2129674000,Irish,6/17/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,Re-inspection,40.749603,-73.985267,105.0,4.0,8400.0,1015891.0,1.008370e+09,MN17
1,50074624,CAFE 47,Manhattan,47,WEST 66 STREET,10023.0,6467408369,American,10/31/2019,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,Initial Inspection,40.772987,-73.980081,107.0,6.0,15300.0,1081016.0,1.011190e+09,MN14
2,50082531,KENNEDY FRIED CHICKEN,Bronx,1220,OGDEN AVENUE,10452.0,6469059373,Chicken,12/6/2018,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,Re-inspection,40.838249,-73.926329,204.0,16.0,19900.0,2003298.0,2.025160e+09,BX26
3,50071207,VIOLETTE'S CELLAR,Staten Island,2271,HYLAN BOULEVARD,10306.0,7186505050,American,8/29/2018,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,Initial Inspection,40.575370,-74.104831,502.0,50.0,12200.0,5107538.0,5.036150e+09,SI45
4,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,16614,HILLSIDE AVE,11432.0,7183744616,Bangladeshi,2/20/2020,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,Initial Inspection,40.709572,-73.796195,412.0,27.0,46000.0,4210082.0,4.098180e+09,QN61

In [3]:
df['YEAR'] = df['INSPECTION DATE'].str.strip().str[-4:]
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE GENERAL,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,YEAR
0,41651801,THE LIBERTY,Manhattan,29,WEST 35 STREET,10001.0,2129674000,Irish,6/17/2019,Violations were cited in the following area(s).,...,Re-inspection,40.749603,-73.985267,105.0,4.0,8400.0,1015891.0,1.008370e+09,MN17,2019
1,50074624,CAFE 47,Manhattan,47,WEST 66 STREET,10023.0,6467408369,American,10/31/2019,Violations were cited in the following area(s).,...,Initial Inspection,40.772987,-73.980081,107.0,6.0,15300.0,1081016.0,1.011190e+09,MN14,2019
2,50082531,KENNEDY FRIED CHICKEN,Bronx,1220,OGDEN AVENUE,10452.0,6469059373,Chicken,12/6/2018,Violations were cited in the following area(s).,...,Re-inspection,40.838249,-73.926329,204.0,16.0,19900.0,2003298.0,2.025160e+09,BX26,2018
3,50071207,VIOLETTE'S CELLAR,Staten Island,2271,HYLAN BOULEVARD,10306.0,7186505050,American,8/29/2018,Violations were cited in the following area(s).,...,Initial Inspection,40.575370,-74.104831,502.0,50.0,12200.0,5107538.0,5.036150e+09,SI45,2018
4,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,16614,HILLSIDE AVE,11432.0,7183744616,Bangladeshi,2/20/2020,Violations were cited in the following area(s).,...,Initial Inspection,40.709572,-73.796195,412.0,27.0,46000.0,4210082.0,4.098180e+09,QN61,2020

In [4]:
df_new = df.drop(columns=['INSPECTION DATE', 'GRADE DATE'])
df_new.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,INSPECTION TYPE,INSPECTION TYPE GENERAL,Latitude,Longitude,Year
0,41651801,THE LIBERTY,Manhattan,29,WEST 35 STREET,10001.0,2129674000,Irish,Violations were cited in the following area(s).,02G,Cold food item held above 41Âº F (smoked fish a...,Y,12,A,Cycle Inspection / Re-inspection,Re-inspection,40.749603,-73.985267,2019
1,50074624,CAFE 47,Manhattan,47,WEST 66 STREET,10023.0,6467408369,American,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Y,12,A,Cycle Inspection / Initial Inspection,Initial Inspection,40.772987,-73.980081,2019
2,50082531,KENNEDY FRIED CHICKEN,Bronx,1220,OGDEN AVENUE,10452.0,6469059373,Chicken,Violations were cited in the following area(s).,10D,Mechanical or natural ventilation system not p...,N,11,A,Pre-permit (Operational) / Re-inspection,Re-inspection,40.838249,-73.926329,2018
3,50071207,VIOLETTE'S CELLAR,Staten Island,2271,HYLAN BOULEVARD,10306.0,7186505050,American,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Y,38,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.575370,-74.104831,2018
4,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,16614,HILLSIDE AVE,11432.0,7183744616,Bangladeshi,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,N,20,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.709572,-73.796195,2020

In [4]:
df['ZIPCODE'] = df['ZIPCODE'].astype(str)

In [5]:
df['ZIPCODE'] = df['ZIPCODE'].str.strip().str[:5]
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE GENERAL,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,YEAR
0,41651801,THE LIBERTY,Manhattan,29,WEST 35 STREET,10001,2129674000,Irish,6/17/2019,Violations were cited in the following area(s).,...,Re-inspection,40.749603,-73.985267,105.0,4.0,8400.0,1015891.0,1.008370e+09,MN17,2019
1,50074624,CAFE 47,Manhattan,47,WEST 66 STREET,10023,6467408369,American,10/31/2019,Violations were cited in the following area(s).,...,Initial Inspection,40.772987,-73.980081,107.0,6.0,15300.0,1081016.0,1.011190e+09,MN14,2019
2,50082531,KENNEDY FRIED CHICKEN,Bronx,1220,OGDEN AVENUE,10452,6469059373,Chicken,12/6/2018,Violations were cited in the following area(s).,...,Re-inspection,40.838249,-73.926329,204.0,16.0,19900.0,2003298.0,2.025160e+09,BX26,2018
3,50071207,VIOLETTE'S CELLAR,Staten Island,2271,HYLAN BOULEVARD,10306,7186505050,American,8/29/2018,Violations were cited in the following area(s).,...,Initial Inspection,40.575370,-74.104831,502.0,50.0,12200.0,5107538.0,5.036150e+09,SI45,2018
4,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,16614,HILLSIDE AVE,11432,7183744616,Bangladeshi,2/20/2020,Violations were cited in the following area(s).,...,Initial Inspection,40.709572,-73.796195,412.0,27.0,46000.0,4210082.0,4.098180e+09,QN61,2020

In [6]:
df['ADDRESS'] = df[df.columns[3:6]].apply(lambda x: ','.join(x.dropna().astype(str)), axis=1)
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,YEAR,ADDRESS
0,41651801,THE LIBERTY,Manhattan,29,WEST 35 STREET,10001,2129674000,Irish,6/17/2019,Violations were cited in the following area(s).,...,40.749603,-73.985267,105.0,4.0,8400.0,1015891.0,1.008370e+09,MN17,2019,"29,WEST 35 STREET,10001"
1,50074624,CAFE 47,Manhattan,47,WEST 66 STREET,10023,6467408369,American,10/31/2019,Violations were cited in the following area(s).,...,40.772987,-73.980081,107.0,6.0,15300.0,1081016.0,1.011190e+09,MN14,2019,"47,WEST 66 STREET,10023"
2,50082531,KENNEDY FRIED CHICKEN,Bronx,1220,OGDEN AVENUE,10452,6469059373,Chicken,12/6/2018,Violations were cited in the following area(s).,...,40.838249,-73.926329,204.0,16.0,19900.0,2003298.0,2.025160e+09,BX26,2018,"1220,OGDEN AVENUE,10452"
3,50071207,VIOLETTE'S CELLAR,Staten Island,2271,HYLAN BOULEVARD,10306,7186505050,American,8/29/2018,Violations were cited in the following area(s).,...,40.575370,-74.104831,502.0,50.0,12200.0,5107538.0,5.036150e+09,SI45,2018,"2271,HYLAN BOULEVARD,10306"
4,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,16614,HILLSIDE AVE,11432,7183744616,Bangladeshi,2/20/2020,Violations were cited in the following area(s).,...,40.709572,-73.796195,412.0,27.0,46000.0,4210082.0,4.098180e+09,QN61,2020,"16614,HILLSIDE AVE,11432"

In [7]:
df_cleaned =df.dropna(subset=['Latitude', 'Longitude'])
df_cleaned.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,YEAR,ADDRESS
0,41651801,THE LIBERTY,Manhattan,29,WEST 35 STREET,10001,2129674000,Irish,6/17/2019,Violations were cited in the following area(s).,...,40.749603,-73.985267,105.0,4.0,8400.0,1015891.0,1.008370e+09,MN17,2019,"29,WEST 35 STREET,10001"
1,50074624,CAFE 47,Manhattan,47,WEST 66 STREET,10023,6467408369,American,10/31/2019,Violations were cited in the following area(s).,...,40.772987,-73.980081,107.0,6.0,15300.0,1081016.0,1.011190e+09,MN14,2019,"47,WEST 66 STREET,10023"
2,50082531,KENNEDY FRIED CHICKEN,Bronx,1220,OGDEN AVENUE,10452,6469059373,Chicken,12/6/2018,Violations were cited in the following area(s).,...,40.838249,-73.926329,204.0,16.0,19900.0,2003298.0,2.025160e+09,BX26,2018,"1220,OGDEN AVENUE,10452"
3,50071207,VIOLETTE'S CELLAR,Staten Island,2271,HYLAN BOULEVARD,10306,7186505050,American,8/29/2018,Violations were cited in the following area(s).,...,40.575370,-74.104831,502.0,50.0,12200.0,5107538.0,5.036150e+09,SI45,2018,"2271,HYLAN BOULEVARD,10306"
4,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,16614,HILLSIDE AVE,11432,7183744616,Bangladeshi,2/20/2020,Violations were cited in the following area(s).,...,40.709572,-73.796195,412.0,27.0,46000.0,4210082.0,4.098180e+09,QN61,2020,"16614,HILLSIDE AVE,11432"

In [8]:
df_cleaned = df_new.drop(columns=['BUILDING', 'STREET', 'ZIPCODE'])
df_cleaned.head()

,CAMIS,DBA,BORO,PHONE,CUISINE DESCRIPTION,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,INSPECTION TYPE,INSPECTION TYPE GENERAL,Latitude,Longitude,Year,Address
0,41651801,THE LIBERTY,Manhattan,2129674000,Irish,Violations were cited in the following area(s).,02G,Cold food item held above 41Âº F (smoked fish a...,Y,12,A,Cycle Inspection / Re-inspection,Re-inspection,40.749603,-73.985267,2019,"29,WEST 35 STREET,10001"
1,50074624,CAFE 47,Manhattan,6467408369,American,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Y,12,A,Cycle Inspection / Initial Inspection,Initial Inspection,40.772987,-73.980081,2019,"47,WEST 66 STREET,10023"
2,50082531,KENNEDY FRIED CHICKEN,Bronx,6469059373,Chicken,Violations were cited in the following area(s).,10D,Mechanical or natural ventilation system not p...,N,11,A,Pre-permit (Operational) / Re-inspection,Re-inspection,40.838249,-73.926329,2018,"1220,OGDEN AVENUE,10452"
3,50071207,VIOLETTE'S CELLAR,Staten Island,7186505050,American,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Y,38,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.575370,-74.104831,2018,"2271,HYLAN BOULEVARD,10306"
4,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,7183744616,Bangladeshi,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,N,20,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.709572,-73.796195,2020,"16614,HILLSIDE AVE,11432"

In [10]:
df_cleaned1920 = df_cleaned.loc[(df_cleaned['Year'] >='2019')]
df_cleaned1920

,CAMIS,DBA,BORO,PHONE,CUISINE DESCRIPTION,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,INSPECTION TYPE,INSPECTION TYPE GENERAL,Latitude,Longitude,Year,Address
0,41651801,THE LIBERTY,Manhattan,2129674000,Irish,Violations were cited in the following area(s).,02G,Cold food item held above 41Âº F (smoked fish a...,Y,12,A,Cycle Inspection / Re-inspection,Re-inspection,40.749603,-73.985267,2019,"29,WEST 35 STREET,10001"
1,50074624,CAFE 47,Manhattan,6467408369,American,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Y,12,A,Cycle Inspection / Initial Inspection,Initial Inspection,40.772987,-73.980081,2019,"47,WEST 66 STREET,10023"
4,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,7183744616,Bangladeshi,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,N,20,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.709572,-73.796195,2020,"16614,HILLSIDE AVE,11432"
5,40394176,MOONSTRUCK EAST,Manhattan,2122131100,American,Violations were cited in the following area(s).,06A,Personal cleanliness inadequate. Outer garment...,Y,43,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.743720,-73.979567,2019,"449,THIRD AVENUE,10016"
6,50090753,LYDIG COFFEE HOUSE,Bronx,3477036610,American,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140Âº F.,Y,28,NaN,Pre-permit (Operational) / Initial Inspection,Initial Inspection,40.854477,-73.866550,2019,"721,LYDIG AVENUE,10462"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288705,50000040,D & Y RESTAURANT,Brooklyn,7184928808,Chinese,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Y,12,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.638934,-74.009570,2019,"5616,7 AVENUE,11220"
288707,41322562,MARGARITA'S RESTAURANT & SPORT BAR,Queens,7182051705,"Latin (Cuban, Dominican, Puerto Rican, South &...",Violations were cited in the following area(s).,04H,"Raw, cooked or prepared food is adulterated, c...",Y,27,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.749860,-73.883092,2019,"83-22,37 AVENUE,11372"
288708,50083067,GOLDEN WOK,Queens,7183922333,Chinese,Establishment Closed by DOHMH. Violations wer...,10F,Non-food contact surface improperly constructe...,N,46,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.745284,-73.921802,2019,"42-18,43 AVENUE,11104"
288709,50002890,NEW FONG KWAN KITCHEN,Queens,7184974461,Chinese,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140Âº F.,Y,20,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.712446,-73.894524,2019,"65-48,METROPOLITAN AVENUE,11379"
288710,50070281,Aji Sushi,Manhattan,2126862055,Japanese,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Y,10,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.746165,-73.977783,2019,"519,3 AVENUE,10016"

In [25]:
df_cleaned1920.nunique()

CAMIS                      25703
DBA                        20651
BORO                           6
PHONE                      24306
CUISINE DESCRIPTION           84
ACTION                         5
VIOLATION CODE                67
VIOLATION DESCRIPTION         64
CRITICAL FLAG                  2
SCORE                        130
GRADE                          7
INSPECTION TYPE               14
INSPECTION TYPE GENERAL        5
Latitude                   21574
Longitude                  21593
Year                           2
Address                    22458
dtype: int64

In [12]:
df_cleaned1920.to_csv("DOHMH_New_York_City_Restaurant_Inspection_Results_Clean1920.csv", index=False, header=True)

In [9]:
df_cleaned20 = df_cleaned.loc[(df_cleaned['YEAR'] >='2020')]
df_cleaned20

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,YEAR,ADDRESS
4,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,16614,HILLSIDE AVE,11432,7183744616,Bangladeshi,2/20/2020,Violations were cited in the following area(s).,...,40.709572,-73.796195,412.0,27.0,46000.0,4210082.0,4.098180e+09,QN61,2020,"16614,HILLSIDE AVE,11432"
19,50095392,HOPE TO SEE YOU,Queens,133-42,39 AVENUE,11354,7188881669,Chinese,1/2/2020,Violations were cited in the following area(s).,...,40.759099,-73.834139,407.0,20.0,87100.0,4596186.0,4.049738e+09,QN22,2020,"133-42,39 AVENUE,11354"
22,50033575,JACQUES TORRES ICE CREAM,Manhattan,89,EAST 42 STREET,10017,2129837353,"Ice Cream, Gelato, Yogurt, Ices",3/9/2020,Violations were cited in the following area(s).,...,40.752094,-73.977604,105.0,4.0,9200.0,1035381.0,1.012800e+09,MN19,2020,"89,EAST 42 STREET,10017"
23,50089342,REGAL CINEMAS ESSEX CROSSING,Manhattan,129,DELANCEY STREET,10002,2124755768,American,3/13/2020,Violations were cited in the following area(s).,...,40.718327,-73.987518,103.0,1.0,1800.0,1090554.0,1.003528e+09,MN27,2020,"129,DELANCEY STREET,10002"
35,50033875,ARIANA'S,Staten Island,60,SOUTH BRIDGE STREET,10309,7189678500,Italian,1/23/2020,Violations were cited in the following area(s).,...,40.525075,-74.236617,503.0,51.0,22600.0,5000000.0,5.075840e+09,SI11,2020,"60,SOUTH BRIDGE STREET,10309"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381592,50086667,JJ'S ASIAN FUSION,Queens,37-05,31 AVENUE,11103,7186268888,Japanese,2/12/2020,Violations were cited in the following area(s).,...,40.762006,-73.918537,401.0,22.0,6300.0,4010552.0,4.006590e+09,QN70,2020,"37-05,31 AVENUE,11103"
381603,41691396,SAM'S,Queens,89-06,NORTHERN BOULEVARD,11372,7183353800,Pizza,1/28/2020,Violations were cited in the following area(s).,...,40.756245,-73.878681,403.0,25.0,27700.0,4035403.0,4.014370e+09,QN28,2020,"89-06,NORTHERN BOULEVARD,11372"
381618,50102250,XOXO KITCHEN & BAKERY,Queens,883,CYPRESS AVENUE,11385,5189307739,American,2/25/2020,No violations were recorded at the time of thi...,...,40.699365,-73.904924,405.0,34.0,55300.0,4085863.0,4.035600e+09,QN20,2020,"883,CYPRESS AVENUE,11385"
381622,41683337,AVLEE GREEK KITCHEN,Brooklyn,349,SMITH STREET,11231,7188555125,Greek,2/20/2020,Violations were cited in the following area(s).,...,40.680002,-73.995007,306.0,39.0,7700.0,3007558.0,3.004500e+09,BK33,2020,"349,SMITH STREET,11231"
381640,50016747,SARKU JAPAN,Bronx,815,HUTCHINSON RIVER PARKWAY,10465,7182391460,Japanese,3/16/2020,Violations were cited in the following area(s).,...,40.823678,-73.836420,210.0,13.0,9000.0,2080263.0,2.055598e+09,BX09,2020,"815,HUTCHINSON RIVER PARKWAY,10465"

In [10]:
df_cleaned20.nunique()

CAMIS                      8706
DBA                        7687
BORO                          5
BUILDING                   4053
STREET                     1429
ZIPCODE                     199
PHONE                      8549
CUISINE DESCRIPTION          82
INSPECTION DATE              70
ACTION                        5
VIOLATION CODE               59
VIOLATION DESCRIPTION        59
CRITICAL FLAG                 2
SCORE                       100
GRADE                         6
GRADE DATE                   65
RECORD DATE                   1
INSPECTION TYPE              14
INSPECTION TYPE GENERAL       5
Latitude                   8037
Longitude                  8048
Community Board              64
Council District             51
Census Tract               1024
BIN                        7580
BBL                        7535
NTA                         193
YEAR                          1
ADDRESS                    8227
dtype: int64

In [11]:
df_cleaned20.to_csv("DOHMH_New_York_City_Restaurant_Inspection_Results_Clean20.csv", index=False, header=True)

In [18]:
df_cleaned1819 = df_cleaned.loc[(df_cleaned['Year'] >='2018') & (df_cleaned['Year'] <='2019')]
df_cleaned1819

,CAMIS,DBA,BORO,PHONE,CUISINE DESCRIPTION,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,INSPECTION TYPE,INSPECTION TYPE GENERAL,Latitude,Longitude,Year,Address
0,41651801,THE LIBERTY,Manhattan,2129674000,Irish,Violations were cited in the following area(s).,02G,Cold food item held above 41Âº F (smoked fish a...,Y,12,A,Cycle Inspection / Re-inspection,Re-inspection,40.749603,-73.985267,2019,"29,WEST 35 STREET,10001"
1,50074624,CAFE 47,Manhattan,6467408369,American,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Y,12,A,Cycle Inspection / Initial Inspection,Initial Inspection,40.772987,-73.980081,2019,"47,WEST 66 STREET,10023"
2,50082531,KENNEDY FRIED CHICKEN,Bronx,6469059373,Chicken,Violations were cited in the following area(s).,10D,Mechanical or natural ventilation system not p...,N,11,A,Pre-permit (Operational) / Re-inspection,Re-inspection,40.838249,-73.926329,2018,"1220,OGDEN AVENUE,10452"
3,50071207,VIOLETTE'S CELLAR,Staten Island,7186505050,American,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Y,38,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.575370,-74.104831,2018,"2271,HYLAN BOULEVARD,10306"
5,40394176,MOONSTRUCK EAST,Manhattan,2122131100,American,Violations were cited in the following area(s).,06A,Personal cleanliness inadequate. Outer garment...,Y,43,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.743720,-73.979567,2019,"449,THIRD AVENUE,10016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288706,50032652,LAS DELICIAS RESTAURANT & BAKERY,Queens,7184604911,Spanish,Establishment re-opened by DOHMH,NaN,NaN,NaN,0,C,Cycle Inspection / Reopening Inspection,Reopening Inspection,40.782984,-73.845855,2018,"1801,COLLEGE POINT BLVD,11356"
288707,41322562,MARGARITA'S RESTAURANT & SPORT BAR,Queens,7182051705,"Latin (Cuban, Dominican, Puerto Rican, South &...",Violations were cited in the following area(s).,04H,"Raw, cooked or prepared food is adulterated, c...",Y,27,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.749860,-73.883092,2019,"83-22,37 AVENUE,11372"
288708,50083067,GOLDEN WOK,Queens,7183922333,Chinese,Establishment Closed by DOHMH. Violations wer...,10F,Non-food contact surface improperly constructe...,N,46,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.745284,-73.921802,2019,"42-18,43 AVENUE,11104"
288709,50002890,NEW FONG KWAN KITCHEN,Queens,7184974461,Chinese,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140Âº F.,Y,20,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.712446,-73.894524,2019,"65-48,METROPOLITAN AVENUE,11379"
288710,50070281,Aji Sushi,Manhattan,2126862055,Japanese,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Y,10,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.746165,-73.977783,2019,"519,3 AVENUE,10016"

In [27]:
df_cleaned1819.nunique()

CAMIS                      24839
DBA                        19976
BORO                           6
PHONE                      23578
CUISINE DESCRIPTION           84
ACTION                         5
VIOLATION CODE                71
VIOLATION DESCRIPTION         66
CRITICAL FLAG                  2
SCORE                        130
GRADE                          7
INSPECTION TYPE               16
INSPECTION TYPE GENERAL        5
Latitude                   21018
Longitude                  21039
Year                           2
Address                    21879
dtype: int64

In [19]:
df_cleaned1819.to_csv("DOHMH_New_York_City_Restaurant_Inspection_Results_Clean1819.csv", index=False, header=True)

In [22]:
df_cleaned19 = df_cleaned.loc[(df_cleaned['Year'] =='2019')]
df_cleaned19

,CAMIS,DBA,BORO,PHONE,CUISINE DESCRIPTION,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,INSPECTION TYPE,INSPECTION TYPE GENERAL,Latitude,Longitude,Year,Address
0,41651801,THE LIBERTY,Manhattan,2129674000,Irish,Violations were cited in the following area(s).,02G,Cold food item held above 41Âº F (smoked fish a...,Y,12,A,Cycle Inspection / Re-inspection,Re-inspection,40.749603,-73.985267,2019,"29,WEST 35 STREET,10001"
1,50074624,CAFE 47,Manhattan,6467408369,American,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Y,12,A,Cycle Inspection / Initial Inspection,Initial Inspection,40.772987,-73.980081,2019,"47,WEST 66 STREET,10023"
5,40394176,MOONSTRUCK EAST,Manhattan,2122131100,American,Violations were cited in the following area(s).,06A,Personal cleanliness inadequate. Outer garment...,Y,43,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.743720,-73.979567,2019,"449,THIRD AVENUE,10016"
6,50090753,LYDIG COFFEE HOUSE,Bronx,3477036610,American,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140Âº F.,Y,28,NaN,Pre-permit (Operational) / Initial Inspection,Initial Inspection,40.854477,-73.866550,2019,"721,LYDIG AVENUE,10462"
7,50076009,CHARLIE'S PLACE,Manhattan,2124100277,Japanese,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,N,10,A,Cycle Inspection / Initial Inspection,Initial Inspection,40.806103,-73.940384,2019,"1960,MADISON AVENUE,10035"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288705,50000040,D & Y RESTAURANT,Brooklyn,7184928808,Chinese,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Y,12,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.638934,-74.009570,2019,"5616,7 AVENUE,11220"
288707,41322562,MARGARITA'S RESTAURANT & SPORT BAR,Queens,7182051705,"Latin (Cuban, Dominican, Puerto Rican, South &...",Violations were cited in the following area(s).,04H,"Raw, cooked or prepared food is adulterated, c...",Y,27,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.749860,-73.883092,2019,"83-22,37 AVENUE,11372"
288708,50083067,GOLDEN WOK,Queens,7183922333,Chinese,Establishment Closed by DOHMH. Violations wer...,10F,Non-food contact surface improperly constructe...,N,46,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.745284,-73.921802,2019,"42-18,43 AVENUE,11104"
288709,50002890,NEW FONG KWAN KITCHEN,Queens,7184974461,Chinese,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140Âº F.,Y,20,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.712446,-73.894524,2019,"65-48,METROPOLITAN AVENUE,11379"
288710,50070281,Aji Sushi,Manhattan,2126862055,Japanese,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Y,10,NaN,Cycle Inspection / Initial Inspection,Initial Inspection,40.746165,-73.977783,2019,"519,3 AVENUE,10016"

In [28]:
df_cleaned19.nunique()

CAMIS                      24155
DBA                        19415
BORO                           6
PHONE                      22966
CUISINE DESCRIPTION           84
ACTION                         5
VIOLATION CODE                66
VIOLATION DESCRIPTION         63
CRITICAL FLAG                  2
SCORE                        126
GRADE                          7
INSPECTION TYPE               14
INSPECTION TYPE GENERAL        5
Latitude                   20503
Longitude                  20522
Year                           1
Address                    21339
dtype: int64

In [23]:
df_cleaned19.to_csv("DOHMH_New_York_City_Restaurant_Inspection_Results_Clean19.csv", index=False, header=True)

In [11]:
import sqlite3

In [20]:
conn = sqlite3.connect('NYC_restaurant_inspection.sqlite')
df_cleaned.to_sql('NYC_restaurant_inspection', conn, if_exists='replace', index=False)

KeyboardInterrupt:

In [ ]:
pd.read_sql('select * from NYC_restaurant_inspection', conn)