In [1]:

import pandas as pd

In [2]:
df = pd.read_csv('NYC_Restaurant_Inspection_Results_Clean2020.csv')
df

,ID,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,...,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,YEAR,ADDRESS
0,1,50090691,SALIM KENNEDY FRIED CHICKEN,Queens,16614,HILLSIDE AVE,11432.0,7183744616,Bangladeshi,2/20/2020,...,40.709572,-73.796195,412.0,27.0,46000.0,4210082.0,4098180062,QN61,2020,"16614,HILLSIDE AVE,11432"
1,2,50095392,HOPE TO SEE YOU,Queens,133-42,39 AVENUE,11354.0,7188881669,Chinese,1/2/2020,...,40.759099,-73.834139,407.0,20.0,87100.0,4596186.0,4049737501,QN22,2020,"133-42,39 AVENUE,11354"
2,3,50033575,JACQUES TORRES ICE CREAM,Manhattan,89,EAST 42 STREET,10017.0,2129837353,"Ice Cream, Gelato, Yogurt, Ices",3/9/2020,...,40.752094,-73.977604,105.0,4.0,9200.0,1035381.0,1012800001,MN19,2020,"89,EAST 42 STREET,10017"
3,4,50089342,REGAL CINEMAS ESSEX CROSSING,Manhattan,129,DELANCEY STREET,10002.0,2124755768,American,3/13/2020,...,40.718327,-73.987518,103.0,1.0,1800.0,1090554.0,1003527501,MN27,2020,"129,DELANCEY STREET,10002"
4,5,50033875,ARIANA'S,Staten Island,60,SOUTH BRIDGE STREET,10309.0,7189678500,Italian,1/23/2020,...,40.525075,-74.236617,503.0,51.0,22600.0,5000000.0,5075840117,SI11,2020,"60,SOUTH BRIDGE STREET,10309"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30638,30639,50086667,JJ'S ASIAN FUSION,Queens,37-05,31 AVENUE,11103.0,7186268888,Japanese,2/12/2020,...,40.762006,-73.918537,401.0,22.0,6300.0,4010552.0,4006590007,QN70,2020,"37-05,31 AVENUE,11103"
30639,30640,41691396,SAM'S,Queens,89-06,NORTHERN BOULEVARD,11372.0,7183353800,Pizza,1/28/2020,...,40.756245,-73.878681,403.0,25.0,27700.0,4035403.0,4014370003,QN28,2020,"89-06,NORTHERN BOULEVARD,11372"
30640,30641,50102250,XOXO KITCHEN & BAKERY,Queens,883,CYPRESS AVENUE,11385.0,5189307739,American,2/25/2020,...,40.699365,-73.904924,405.0,34.0,55300.0,4085863.0,4035600001,QN20,2020,"883,CYPRESS AVENUE,11385"
30641,30642,41683337,AVLEE GREEK KITCHEN,Brooklyn,349,SMITH STREET,11231.0,7188555125,Greek,2/20/2020,...,40.680002,-73.995007,306.0,39.0,7700.0,3007558.0,3004500008,BK33,2020,"349,SMITH STREET,11231"
30642,30643,50016747,SARKU JAPAN,Bronx,815,HUTCHINSON RIVER PARKWAY,10465.0,7182391460,Japanese,3/16/2020,...,40.823678,-73.836420,210.0,13.0,9000.0,2080263.0,2055597501,BX09,2020,"815,HUTCHINSON RIVER PARKWAY,10465"

In [3]:
df.columns

Index(['ID', 'CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE',
       'INSPECTION TYPE GENERAL', 'Latitude', 'Longitude', 'Community Board',
       'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA', 'YEAR',
       'ADDRESS'],
      dtype='object')

In [4]:
finalList = []
finalDict = {}
grouped = df.groupby(['BORO', 'Council District','CUISINE DESCRIPTION','CAMIS'])
for key, value in grouped:


    dictionary = {}

    j = grouped.get_group(key).reset_index(drop=True)
    dictionary['BORO'] = j.at[0, 'Council District']
    dictionary['Council District'] = j.at[0, 'Council District']
    dictionary['CUISINE DESCRIPTION'] = j.at[0, 'CUISINE DESCRIPTION']
    dictionary['CAMIS'] = j.at[0, 'CAMIS']


    dictList = []
    anotherDict = {}
    for i in j.index:

        anotherDict['DBA'] = j.at[i, 'DBA']
        anotherDict['BUILDING'] = j.at[i, 'BUILDING']
        anotherDict['STREET'] = j.at[i, 'STREET']
        anotherDict['PHONE'] = j.at[i, 'PHONE']
        anotherDict['INSPECTION DATE'] = j.at[i, 'INSPECTION DATE']
        anotherDict['ACTION'] = j.at[i, 'ACTION']
        anotherDict['VIOLATION CODE'] = j.at[i, 'VIOLATION CODE']
        anotherDict['VIOLATION DESCRIPTION'] = j.at[i, 'VIOLATION DESCRIPTION']
        anotherDict['CRITICAL FLAG'] = j.at[i, 'CRITICAL FLAG']
        anotherDict['SCORE'] = j.at[i, 'SCORE']
        anotherDict['GRADE'] = j.at[i, 'GRADE']
        anotherDict['GRADE DATE'] = j.at[i, 'GRADE DATE']
        anotherDict['RECORD DATE'] = j.at[i, 'RECORD DATE']
        anotherDict['INSPECTION TYPE'] = j.at[i, 'INSPECTION TYPE']
        anotherDict['INSPECTION TYPE GENERAL'] = j.at[i, 'INSPECTION TYPE GENERAL']
        anotherDict['Latitude'] = j.at[i, 'Latitude']
        anotherDict['Longitude'] = j.at[i, 'Longitude']
        anotherDict['Community Board'] = j.at[i, 'Community Board']
        anotherDict['Council District'] = j.at[i, 'Council District']
        anotherDict['Census Tract'] = j.at[i, 'Census Tract']
        anotherDict['BIN'] = j.at[i, 'BIN']
        anotherDict['BBL'] = j.at[i, 'BBL']
        anotherDict['NTA'] = j.at[i, 'NTA']
        anotherDict['YEAR'] = j.at[i, 'YEAR']
        anotherDict['ADDRESS'] = j.at[i, 'ADDRESS']

        dictList.append(anotherDict)

    dictionary['Restaurant'] = dictList


    finalList.append(dictionary)

import json
json.dumps(finalList)

TypeError: Object of type int64 is not JSON serializable